
<%= form_with(model: @department, local: true) do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
  <p>
    <%= f.label :organization %><br/>
    <%= f.collection_select( :organization_id, Organization.all, :id, :name, include_blank: true) %>
  </p>
  </p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>