<h1>Showing project details</h1>

<p><strong>Name: <%= project.name %></strong></p>
<p><strong>Organization: <%= project.organization %></strong></p>
<p><strong>Status: <%= project.status %></strong></p>
<p><strong>People: <%= project.people %></strong></p>
<p><strong>Start Date: <%= project.start_date %></strong></p>
<p><strong>End Date: <%= project.end_date %></strong></p>